body {
    color: white;
    margin: 0%;
    text-align: center;
    background: #424242;
    background-size: cover;
}

a {
    color: white;
}

.head{
    padding: 5%;
    color: white;
    background: #212121;
}